<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- "Google Driveとの連携に必要なパーミッション" -->
    <!-- インターネット接続 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Questionnaire_App"
        tools:targetApi="31">
        <activity
            android:name=".questionnaire.ReQuestionnaire2"
            android:exported="false" />
        <activity
            android:name=".questionnaire.ReQuestionnaire"
            android:exported="false" />
        <activity
            android:name=".questionnaire.QuestionConfirmLogin"
            android:exported="false" />
        <activity
            android:name=".questionnaire.QuestionConfirm"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerConfirm"
            android:exported="false" />
        <activity
            android:name=".customer.ReEnterCustomerInformation"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerInformationConfirm"
            android:exported="false" />
        <activity
            android:name=".customer.InfomationCheckLogin"
            android:exported="false" />
        <activity
            android:name=".questionnaire.Questionnaire2"
            android:exported="false" />
        <activity
            android:name=".customer.LoginCustomer"
            android:exported="false" />
        <activity
            android:name=".customer.NewCustomerConfirm"
            android:exported="false" />
        <activity
            android:name=".questionnaire.Questionnaire"
            android:exported="false" />
        <activity
            android:name=".customer.NewCustomer"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>